.image-container{
    position: relative;
}
.image-container{
    /* position: absolute; */
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.imagebggg{
background-image: url("https://images.unsplash.com/photo-1478860409698-8707f313ee8b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}